body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.box {
    margin-top: 120px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.player {
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}
